.block {
  width: 100px;
  height: 100px;
  margin: 10px;
  display: inline-block;
}

#redBlock {
  background-color: red;
}

#whiteBlock {
  background-color: white;
}

#blueBlock {
  background-color: blue;
}